<div class="container">
  <div class="room-list">
    <h2 class="room-list__heading">
      ルーム一覧
    </h2>
    <div class="room-list__content">
      <ul class="room-list__list">
        <li class="room-list__list-item">
          <h3 class="room-list__list-title">パンダ好き集まれ</h3>
          <div class="room-list__list-detail">
            <p class="room-list__list-lead">パンダ好きが集まるチャットルームです！初心者歓迎！</p>
            <div class="room-list__list-info">
              <p class="room-list__list-userName">作成者: pandafreak</p>
              <span class="room-list__list-createdDate">最終更新: 2019月8月11日23時59分</span>
            </div>
          </div>
          <div class="btn-wrap">
              <button mat-raised-button color="primary" routerLink="/chatroom">ルームに参加する</button>
          </div>
        </li>
        <li class="room-list__list-item">
            <h3 class="room-list__list-title">タピオカ好き集まれ</h3>
            <div class="room-list__list-detail">
              <p class="room-list__list-lead">タピオカドリンク好きが集まるチャットルームです！初心者歓迎！「タピオカブームはもう下火」、「アロエブームの二の舞」と言われて久しいですが、それでもタピオカを愛し続けるメンバーが集まっています！タピオカ無しでは生きていけない同志よ集え！</p>
              <div class="room-list__list-info">
                <p class="room-list__list-userName">作成者: blackpearltpok</p>
                <span class="room-list__list-createdDate">最終更新: 2019月8月12日10時59分</span>
              </div>
            </div>
            <div class="btn-wrap">
                <button mat-raised-button color="primary">ルームに参加する</button>
            </div>
          </li>
          <li class="room-list__list-item">
              <h3 class="room-list__list-title">MHWマムタロト周回部屋</h3>
              <div class="room-list__list-detail">
                <p class="room-list__list-lead">マム周回PTを募集している方が集う部屋です。</p>
                <div class="room-list__list-info">
                  <p class="room-list__list-userName">作成者: ProHunterHR999</p>
                  <span class="room-list__list-createdDate">最終更新: 2019月8月12日10時59分</span>
                </div>
              </div>
              <div class="btn-wrap">
                  <button mat-raised-button color="primary">ルームに参加する</button>
              </div>
            </li>
      </ul>
    </div>
  </div>
</div>
