<div class="container">
  <div class="account">
    <h2 class="account__heading">
      アカウント情報
    </h2>
    <div class="account__content">
      <figure class="account__img"></figure>
      <div class="account__user">
        <mat-icon>account_circle</mat-icon>
        <label class="account__user-label">アカウント名</label>
        <input class="account__user-name" placeholder="新しいアカウント名">
      </div>
      <div class="account__mail">
        <mat-icon>mail_outline</mat-icon>
        <label class="account__mail-label">Your E-mail</label>
        <input class="account__mail-text" placeholder="hogehoge@gmail.com">
      </div>
      <div class="account__notification">
        <div class="notifications">
          <mat-icon>notifications</mat-icon>
          <mat-icon>notifications_off</mat-icon>
          <mat-icon>notifications_active</mat-icon>
          <mat-icon>notifications_none</mat-icon>
          <mat-icon>notifications_paused</mat-icon>
        </div>
      </div>
    </div>
  </div>
</div>
