.account {
  max-width: 800px;
  margin: 80px auto;
  border-radius: 16px;
  border: 2px solid #3F51B5;

  &__heading {
    text-align: center;
    font-weight: 600;
    font-size: 28px;
    color: #fff;
    margin-bottom: 40px;
    border-radius: 12px 12px 0 0;
    background-color: #3F51B5;
    padding: 16px 32px;
  }

  &__content {
    margin: 60px 40px;
    color: #333;
    font-size: 20px;

    mat-icon {
      margin-right: 20px;
      &:last-child {
        margin: 0;
      }
    }
  }
  &__img {
    display: block;
    margin: 0 auto;
  }
  &__user {
    display: flex;
    margin-bottom: 40px;
    &-label {
      margin-right: 20px;
    }
  }
  &__mail {
    display: flex;
    margin-bottom: 40px;
    &-label {
      margin-right: 20px;
    }
  }

}
