<div class="container">
  <div class="account">
    <h2 class="account__heading">
      アカウント情報
    </h2>
    <figure class="account__img"></figure>
    <div class="account__user">
      <mat-icon>account_circle</mat-icon>
      <p class="account__user-label">アカウント名</p>
      <p class="account__user-name">pandafleak</p>
    </div>
    <div class="account__mail">
        <mat-icon>mail_outline</mat-icon>
      <p class="account__email-label">Your E-mail</p>
      <p class="account__email-text">hogehoge@gmail.com</p>
    </div>
    <div class="account__notification">
      <div class="notifications">
          <mat-icon>notifications</mat-icon>
          <mat-icon>notifications_off</mat-icon>
          <mat-icon>notifications_active</mat-icon>
          <mat-icon>notifications_none</mat-icon>
          <mat-icon>notifications_paused</mat-icon>
      </div>
    </div>
  </div>
</div>
